@charset "utf-8";
/* CSS Document */
html {
    position : relative;
}

body{
    margin-bottom : 80px;
}
.jumbotron img {
    width : 200px;
    
}
.jumbotron {
    padding-top: 100px;
    background-color: #A9E2F3;
}

hr{
    /* width : 250px; */
    border-top: 3px solid rgb(3, 62, 255);
}

section {
    min-height: 600px;
}

.visi {
    background-color: #eee;
    padding-top: 50px;
}

.nilai {
    padding-top: 50px;
}
.gallery {
    padding-top:80px;
}
.gallery hr{
    width:100%;
    border-top: 2px solid #eee;    
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(32, 103, 255);
    padding-top: 30px;
}

footer p{
    color: #eee;
    font-size: 0.9em;
}


/* responsive images */
.photo-gallery {
    color:#313437;
    background-color:#fff;
    
  }
  
  .photo-gallery p {
    color:#7d8285;
  }
  
  .photo-gallery h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:80px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .photo-gallery h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .photo-gallery .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto 40px;
  }
  
  .photo-gallery .intro p {
    margin-bottom:0;
  }
  
  .photo-gallery .photos {
    padding-bottom:20px;
  }
  
  .photo-gallery .item {
    padding-bottom:30px;
  }
  
  .kontak {
      min-height: 800px;
      padding-top: 80px;
  }

  .dropdown-submenu {
  position: relative;
}

.dropdown-submenu>a:after {
  content: "\f0da";
  float: right;
  border: none;
  font-family: 'FontAwesome';
}


/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

body {
  background: #4568DC;
  background: -webkit-linear-gradient(to right, #4568DC, #B06AB3);
  background: linear-gradient(to right, #4568DC, #B06AB3);
  min-height: 100vh;
}

code {
  color: #B06AB3;
  background: #fff;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
}

@media (min-width: 991px) {
  .dropdown-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

/*multilevel dropdown*/

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  margin-left: 0px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>a:after {
  content: "\f0da";
  float: right;
  border: none;
  font-family: 'FontAwesome';
}

/*#navbarContent .nav-item:hover {
  border-bottom: 3px solid blue;
}*/

