    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">

        <!-- Copywrite Area -->
        <div class="copywrite-area">
            <div class="container">
                <div class="row">
                    <!-- Copywrite Text -->
                    <div class="col-12 col-sm-6">
                        <p class="copywrite-text">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script>
                            <i class="fa fa-heart-o" aria-hidden="true"></i> 
                            by 
                            <a href="https://colorlib.com" target="_blank">Swastisari</a>
                        </p>
                    </div>
                    <div class="col-12 col-sm-6">
                        <nav class="footer-nav">
                            <ul>
                                <li><a href="/kontak.php">Kontak</a></li>
                                <li><a href="/download.php">Download</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>