<script src="/mag/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/mag/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/mag/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/mag/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="/mag/js/active.js"></script>